
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900");
html, body {
  height: 100%;
  background: #f4f5fa;
  background-size: contain;
}
#root {
  width: 100%;
  height: 100%;
  background: #f4f5fa;
}
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
.authmain {
  background-size: contain;
  font-family: "Roboto", sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: auto;
  background-image: linear-gradient(234deg,#025cab,#0096d9 );
  text-decoration: none;
  /* background: linear-gradient(-45deg, #0096d9 0, #025cab 100%); */
}
.authDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.mainSignIn {
  height: 75%;
  width: 70%;
  background-color: #f4f5fa;
  display: flex;
  border-radius: 5px;
  align-items: center;
}
.leftside {
  width: 30%;
  height: 85%;
  display: flex;
  flex-direction: column;
  padding: 7.2% 8% 0 8%;
  box-sizing: initial;
}
.logoSignin {
  width: 100%;
  height: auto;
  align-self: center;
  margin-bottom: 20px;
}
.namelogo {
  font-family: Roboto;
  font-weight: bold;
  font-size: 1.5rem;
  align-self: center;
  color: #e63232;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}
.line {
  width: 30px;
  height: auto;
}
.desclogo {
  margin-top: 20px;
  font-family: Roboto;
  color: #666666;
  font-weight: bold;
}
.info {
  width: 30px;
  height: auto;
  margin-right: 10px;
}
.msg {
  width: 30px;
  height: auto;
}
.icons-container {
  border-top: 1px solid transparent;
  margin-top: 20%;
  padding-top: 5%;
}
.auth {
  width: 60%;
  height: 100%;
  background-color: #f4f5fa;
  color: rgba(51, 51, 51, 0.75);
  font-family: "Roboto", sans-serif;
  border-left: 1px solid #e5e5e5;
  text-align: left;
}
.Authenticate {
  font-family: Roboto;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-top: 8%;
}
.username input, .email input, .password input , .country input{
  width: 70%;
  height: 50px;
  box-shadow: 0px 0px 20px #e5e5e5;
  font-size: 1.1rem;
  padding-left: 15px;
  color: rgba(51, 51, 51, 0.75);
  border-radius: 5px;
  border: 0px;
  font-weight: bold;
  font-size: 16px;
  text-indent: 40px;
}
.username input::placeholder, .email input::placeholder, .password input::placeholder, .country input::placeholder{
  font-weight: bold;
  font-size: 16px;
  text-indent: 40px;
}
.username input {
  background-image: url("/assets/images/user.png");
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 10px;
  background-size: 30px;
}
.password input {
  background-image: url("/assets/images/lock.png");
  background-repeat: no-repeat;
  background-position-x: 17px;
  background-position-y: 12px;
  background-size: 25px;
}
.email input {
  background-image: url("/assets/images/email2.png");
  background-repeat: no-repeat;
  background-position-x: 18px;
  background-position-y: 13px;
  background-size: 22px;
}
.email {
  margin-top: 5%;
}
.country{
  margin-top: 5%;
}
#forgetpassword{
    align-self: center;
    color: #666666;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.password {
  margin-top: 5%;
}
.username i, .email i, .password i {
  margin-right: 20px;
}
.authform {
  text-align: center;
  margin-top: 8%;
}
.btnauth {
  width: 160px;
  height: 40px;
  margin-top: 40px;
  border-radius: 5px;
  border: 0px;
  box-shadow: 0px 0px 10px #c4c4c4;
  background-color: #e63232;
  font-size: 1.2rem;
  font-family: Roboto;
  color: #eeeeee;
}
.linkSignUp {
    padding-bottom: 3%;
  text-align: center;
  margin-top: 13%;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  color: #666666;
}
.linkSignUp span {
  width: 300px;
  height: 30px;
}
.linkSignUp a{
color: #e63232;
}
.on-signup {
  margin-top: 4%;
  
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .auth {
    width: 100%;
    height: 100%;
  }
  .username input, .email input, .password input {
    height: 50px;
  }
  .on-signup {
    margin-top: 25px;
  }
  .leftside {
    display: none;
  }
  .mainSignIn {
    width: 80%;
    height: 80%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) {
  .auth {
    width: 100%;
    height: 100%;
  }
  .username input, .email input, .password input {
    height: 50px;
  }
  .on-signup {
    margin-top: 25px;
  }
  .leftside {
    display: none;
  }
  .mainSignIn {
    width: 80%;
    height: 80%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .auth {
    width: 60%;
    height: 100%;
  }
  .username input, .email input, .password input {
    height: 50px;
  }
  .on-signup {
    margin-top: 25px;
  }
  .leftside {
    display: block;
  }
  .mainSignIn {
    height: 70%;
    width: 70%;
  }
}