/* #continerEditAndTrush{
    display: inline-block;
}
#editNameCourse{
    margin-bottom: 20px;
}
#edidUploadImageTitle{
margin-top: 20px;
}
#editAddCourseIcon,#trushAddCourseIcon{
    cursor: pointer;
} */