/* #inputofuploadVideo{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    
}
#labelOfInputuploadVideo{
   margin-top: 13px;
   margin-right: 10px;
} */